<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<meta name="description" content="<%= config.backend.description %>">
		<meta name="author" content="<%= config.author %>">
		<meta name="keyword" content="<%= config.backend.keyword %>">

		<title><%= config.backend.title %></title>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/ionicons.min.css">

		<!-- Theme style -->
		<link rel="stylesheet" href="/stylesheets/AdminLTE.min.css">

		<!-- Skin -->
		<link rel="stylesheet" href="/stylesheets/skins/skin-blue.min.css">

		<!-- Icons -->
		<link href="/stylesheets/font-awesome.min.css" rel="stylesheet">

		<!-- Toastr -->
		<link href="/stylesheets/toastr.min.css" rel="stylesheet">

	</head>

	<body>

		<div id="app">

<% /* EO horsehide/header.ejs */ %>